.container {
    border: 1px solid red;
}
.ul {
    border: 1px solid black;
    padding: 10px 20px;
}
.color {
    background-color:  red;
}
button {
        border: 1px solid;
    margin: 3px;
    padding: 6px;
}
.list {
    margin: 10px;
    border: 1px solid black;
}
input {
    display: block;
    margin: 10px;
    border: 1px solid #000;
}